<%- include("header"); -%>

<h1>Books</h1>
<p>Thank you for signing in. Please click <strong>button</strong> below to start from your last saved point.</p>
<button type="button" onclick="<%=chaptersSaved%>(<%=verseSaved%>)" name="button">Last Saved Point</button>
<br><br>
<span> <strong>Old Testament:</strong> </span>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Genesis(0)" name="button">Genesis</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Exodus(0)" name="button">Exodus</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Leviticus(0)" name="button">Leviticus</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Numbers(0)" name="button">Numbers</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Deuteronomy(0)" name="button">Deuteronomy</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Joshua(0)" name="button">Joshua</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Judges(0)" name="button">Judges</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Ruth(0)" name="button">Ruth</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Samuel1(0)" name="button">1Samuel</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Samuel2(0)" name="button">2Samuel</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Kings1(0)" name="button">1Kings</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Kings2(0)" name="button">2Kings</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Chronicles1(0)" name="button">1Chronicles</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Chronicles2(0)" name="button">2Chronicles</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Ezra(0)" name="button">Ezra</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Nehemiah(0)" name="button">Nehemiah</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Esther(0)" name="button">Esther</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Job(0)" name="button">Job</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Psalms(0)" name="button">Psalms</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Proverbs(0)" name="button">Proverbs</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Ecclesiastes(0)" name="button">Ecclesiastes</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="SongofSolomon(0)" name="button">Song of Solomon</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Isaiah(0)" name="button">Isaiah</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Jeremiah(0)" name="button">Jeremiah</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Lamentations(0)" name="button">Lamentations</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Ezekiel(0)" name="button">Ezekiel</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Daniel(0)" name="button">Daniel</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Hosea(0)" name="button">Hosea</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Joel(0)" name="button">Joel</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Amos(0)" name="button">Amos</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Obadiah(0)" name="button">Obadiah</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Jonah(0)" name="button">Jonah</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Micah(0)" name="button">Micah</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Nahum(0)" name="button">Nahum</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Habakkuk(0)" name="button">Habakkuk</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Zephaniah(0)" name="button">Zephaniah</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Haggai(0)" name="button">Haggai</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Zechariah(0)" name="button">Zechariah</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Malachi(0)" name="button">Malachi</button>
<br><br>
<span> <strong>New Testament:</strong> </span>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Matthew(0)" name="button">Matthew</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Mark(0)" name="button">Mark</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Luke(0)" name="button">Luke</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="John(0)" name="button">John</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Acts(0)" name="button">Acts</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Romans(0)" name="button">Romans</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Corinthians1(0)" name="button">1Corinthians</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Corinthians2(0)" name="button">2Corinthians</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Galatians(0)" name="button">Galatians</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Ephesians(0)" name="button">Ephesians</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Philippians(0)" name="button">Philippians</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Colossians(0)" name="button">Colossians</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Thessalonians1(0)" name="button">1Thessalonians</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Thessalonians2(0)" name="button">2Thessalonians</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Timothy1(0)" name="button">1Timothy</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Timothy2(0)" name="button">2Timothy</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Titus(0)" name="button">Titus</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Philemon(0)" name="button">Philemon</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Hebrews(0)" name="button">Hebrews</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="James(0)" name="button">James</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Peter1(0)" name="button">1Peter</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Peter2(0)" name="button">2Peter</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="John1(0)" name="button">1John</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="John2(0)" name="button">2John</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="John3(0)" name="button">3John</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Jude(0)" name="button">Jude</button>
<button class="btn btn-outline-dark btn-sm" type="button" onclick="Revelation(0)" name="button">Revelation</button>





<div class="row hideAndOpen" style="display:none;">
  <h1 class="book123"></h1>
  <p> <span class="bb original1"></span><span class="bb restWord1"></span> </p>
  <p> <span class="bb original2"></span><span class="bb restWord2"></span> </p>
  <p> <span class="bb original3"></span> </p>
  <div class="input-group">
    <span class="input-group-text guide">Type:</span>
    <textarea id="qwe1" class="form-control bibleTyping" onkeyup="valuePass()" aria-label="With textarea" rows="4" cols="50"></textarea>
  </div>
  </textarea>

  <form class="" action="/" method="post">
    <button class="btn btn-outline-dark btn-lg" onclick="raiseValue()" type="text" name="button">Next Chapter</button>

    <input class="savingInput" type="hidden" name="verseNumber" value="1234">
    <button class="saving btn btn-outline-dark btn-lg" type="submit" name="chapterName" value="" onclick="save()">Click to save your progress</button>
  </form>

  <label class="switch">
    <input type="checkbox"> uncheck to disable your speed.
    <span class="slider round"></span>
  </label>

  <div class="">
    <h1 class="hey123">Good, or Bad</h1>
    <h1>Your Type Speed is: <span class="typeSpeed"></span> <span>Per minute</span> </h1>
    <h1>Your Average Speed is: <span class="avgSpeed"></span> </h1>
  </div>

  <br><br><br><br><br><br><br><br><br>
</div>

</div>
<script src="index.js" charset="utf-8"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>

</html>
