<%- include("header"); -%>

    <h1>Chapters</h1>
    <p>Thank you for sign in. Please click a button below to start from your last saved point.</p>
<button type="button" onclick="<%=chaptersSaved%>(<%=verseSaved%>)" name="button">Last Saved Point</button>
    <table>
      <tr>
        <th>Old Testament.</th>
        <th>New Testament.</th>
      </tr>
      <tr>
        <td><button type="button" onclick="Genesis(0)" name="button">Genesis</button></td>
        <td><button type="button" onclick="Matthew(0)" name="button">Matthew</button></td>
      </tr>

    </table>



    <div class="row hideAndOpen" style="display:none;">
      <h1 class="book123"></h1>
      <p> <span class="bb original1"></span><span class="bb restWord1"></span> </p>
      <p> <span class="bb original2"></span><span class="bb restWord2"></span> </p>
      <p> <span class="bb original3"></span> </p>
      <div class="input-group">
        <span class="input-group-text guide">Type:</span>
        <textarea id="qwe1" class="form-control bibleTyping"  onkeyup="valuePass()" aria-label="With textarea" rows="4" cols="50"></textarea>
      </div>
      </textarea>
      <div class="">
        <button onclick="raiseValue()" type="text" name="button">Next</button>
      </div>
      <form class="" action="/" method="post">
        <input class="savingInput" type="hidden"  name="verseNumber" value="1234">
        <button class="saving" type="submit" name="chapterName" value="" onclick="save()">Save</button>
      </form>



    <h1 class="hey123">Good, or Bad</h1>
    <h1>Your Type Speed is: <span class="typeSpeed"></span> <span>Per minute</span> </h1>
    <h1>Your Average Speed is: <span class="avgSpeed"></span> </h1>
</div>

  </div>
<script src="index.js" charset="utf-8"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>

</html>



  <%- include("footer"); -%>


<!-- <tr>
<td><a href="#">Exodus</a></td>
<td><a href="#">Mark</a></td>
</tr>
<tr>
<td><a href="#">Leviticus</a></td>
<td><a href="#">Luke</a></td>
</tr>
<tr>
<td><a href="#">Numbers</a></td>
<td><a href="#">John</a></td>
</tr>
<tr>
<td><a href="#">Deuteronomy</a></td>
<td><a href="#">Acts</a></td>
</tr>
<tr>
<td><a href="#">Joshua</a></td>
<td><a href="#">Romans</a></td>
</tr>
<tr>
<td><a href="#">Judges</a></td>
<td><a href="#">1 Corinthians</a></td>
</tr>
<tr>
<td><a href="#">Ruth</a></td>
<td><a href="#">2 Corinthians</a></td>
</tr>
<tr>
<td><a href="#">1 Samuel</a></td>
<td><a href="#">Galatians</a></td>
</tr>
<tr>
<td><a href="#">2 Samuel</a></td>
<td><a href="#">Ephesians</a></td>
</tr>
<tr>
<td><a href="#">1 Kings</a></td>
<td><a href="#">Philippians</a></td>
</tr>
<tr>
<td><a href="#">2 Kings</a></td>
<td><a href="#">Colossians</a></td>
</tr>
<tr>
<td><a href="#">1 Chronicles</a></td>
<td><a href="#">1 Thessalonians</a></td>
</tr>
<tr>
<td><a href="#">2 Chronicles</a></td>
<td><a href="#">2 Thessalonians</a></td>
</tr>
<tr>
<td><a href="#">Ezra</a></td>
<td><a href="#">1 Timothy</a></td>
</tr>
<tr>
<td><a href="#">Nehemiah</a></td>
<td><a href="#">2 Timothy</a></td>
</tr>
<tr>
<td><a href="#">Esther</a></td>
<td><a href="#">Titus</a></td>
</tr>
<tr>
<td><a href="#">Job</a></td>
<td><a href="#">Philemon</a></td>
</tr>
<tr>
<td><a href="#">Psalms</a></td>
<td><a href="#">Hebrews</a></td>
</tr>
<tr>
<td><a href="#">Proverbs</a></td>
<td><a href="#">James</a></td>
</tr>
<tr>
<td><a href="#">Ecclesiastes</a></td>
<td><a href="#">1 Peter</a></td>
</tr>
<tr>
<td><a href="#">Song of Solomon</a></td>
<td><a href="#">2 Peter</a></td>
</tr>
<tr>
<td><a href="#">Isaiah</a></td>
<td><a href="#">1 John</a></td>
</tr>
<tr>
<td><a href="#">Jeremiah</a></td>
<td><a href="#">2 John</a></td>
</tr>
<tr>
<td><a href="#">Lamentations</a></td>
<td><a href="#">3 John</a></td>
</tr>
<tr>
<td><a href="#">Ezekiel</a></td>
<td><a href="#">Jude</a></td>
</tr>
<tr>
<td><a href="#">Daniel</a></td>
<td><a href="#">Revelation</a></td>
</tr>
<tr>
<td><a href="#">Hosea</a></td>
</tr>
<tr>
<td><a href="#">Joel</a></td>
</tr>
<tr>
<td><a href="#">Amos</a></td>
</tr>
<tr>
<td><a href="#">Obadiah</a></td>
</tr>
<tr>
<td><a href="#">Jonah</a></td>
</tr>
<tr>
<td><a href="#">Micah</a></td>
</tr>
<tr>
<td><a href="#">Nahum</a></td>
</tr>
<tr>
<td><a href="#">Habakkuk</a></td>
</tr>
<tr>
<td><a href="#">Zephaniah</a></td>
</tr>
<tr>
<td><a href="#">Haggai</a></td>
</tr>
<tr>
<td><a href="#">Zechariah</a></td>
</tr>
<tr>
<td><a href="#">Malachi</a></td>
</tr> -->
