body {
  background-color: #e3fdfd !important;
  font-family: 'Roboto Condensed', sans-serif !important;
  color: #393e46 !important;
  margin: 0 !important;
  padding: 0 !important;
  height: 100% !important;
  width: 60%!important;
  margin: auto!important;
}

.navbar {
  background-color: #cbf1f5;
}

.signinform {
  margin: 10% 30%;
}

.bibleImage {
  width: 30%;
}

.bingle {
  margin-top: 30px;
}

.startTyping {
  font-size: 50px;
  position: relative;
  top: 50px;
  margin-top: 550px;
  color: #393e46;
}

.book123 {
  display: inline-block;
}

.bb {
  font-size: 25px;
}

.footer {
  color: grey;
  margin: auto;
  position: absolute;
  height: 10%;
  width: 60%;
  bottom: 0;
  background-color: #cbf1f5;
  text-align: center;
}

.social {
  width: 3%;
}

.signButton{
  background-color:#71c9ce !important;
}

.hideAndOpen {
  background-color: #cbf1f5;
}
